@define-color foreground #cdd6f4;
@define-color background #1e1e2e;
@define-color border #89b4fa;

window#waybar {
    background-color: @background;
    color: @foreground;
    border-bottom: 2px solid @border;
}

#workspaces button {
    color: @foreground;
}

#workspaces button.active {
    color: @foreground;
    border-bottom: 2px solid @border;
}

#clock,
#battery,
#cpu,
#memory,
#temperature,
#network,
#pulseaudio,
#custom-media,
#custom-pacman,
#custom-powermenu {
    background-color: @background;
    color: @foreground;
    padding: 0 10px;
    border-left: 1px solid @border;
}