/* Zelda Ocarina of Time theme */

@define-color pink          #8e44ad;
@define-color blue          #5e7e99;
@define-color text          #f5eeda;
@define-color base          #243a32;
@define-color mantle        #3d2d25;
@define-color crust         #243a32;
@define-color surface0      #3a5941;
@define-color surface1      #5a4a42;
@define-color surface2      #6b8e23;
@define-color subtext0      #f0d867;

/*
	br - border
	bg - background
	fg - foreground
*/

/* main colors */

@define-color accent        @subtext0;
@define-color main-br       @subtext0;
@define-color main-bg       @crust;
@define-color main-fg       @text;
@define-color hover-bg      @surface0;
@define-color hover-fg      alpha(@main-fg, 0.75);
@define-color outline       shade(@main-bg, 0.5);

/* module colors */

@define-color workspaces    @mantle;
@define-color temperature   @mantle;
@define-color memory        @base;
@define-color cpu           @surface0;
@define-color time          @surface0;
@define-color date          @base;
@define-color tray          @mantle;
@define-color volume        @mantle;
@define-color backlight     @base;
@define-color battery       @surface0;

/* state colors */

@define-color warning       #f0d867;
@define-color critical      #b83d2d;
@define-color charging      #2d7543;